<%- include('../partials/header') %>
    <h1 class="text-center display-3 m-4">Edit a Post</h1>
    <section>
        <div class="container">         
          <!-- <div class="alert alert-warning text-center my-4">Alert Warning</a>
          </div> -->         
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
              <div class="row">
                <div class="col text-center">
                  <p class="text-h3">Edit an existing Post</p>
                </div>
              </div>
              <form action='/posts/<%= post.id %>?_method=PUT' method="POST">
              <div class="row align-items-center">
                <div class="col mt-2">
                  <input type="text" class="form-control" placeholder="Title" name="title" value="<%= post.title %>">
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col">
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="Enter your detailed question" name="details" value="<%= post.details %>" ></textarea>
                      </div>
                </div>
              </div>
              <div class="row justify-content-start mt-1">
                <div class="col">    
                  <a href="/posts"><button class="btn btn-primary mt-4" type="submit">Update Post</button></a>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<script>
//     tinymce.init({
//     selector: '#textAreaExample1',
//     plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
//       toolbar: 'code casechange checklist export formatpainter permanentpen table',
//       toolbar_mode: 'floating',
//       tinycomments_mode: 'embedded',
//       tinycomments_author: 'Author name',

// });
</script>

<%- include('../partials/footer') %>