<%- include('../partials/header') %>

    <h1 class= "text-center mt-4 mb-2 display-4">Feed</h1>
    <div class= "text-center m-3">
    <a href="/posts/new"><button class="btn btn-primary btn-lg">Add Post</button></a> 
    </div>
    <% post.forEach(function(p) { %>
    <ul>
<div class="container mb-5">
    <div class="row justify-content-center">
  <!-- <div class="card text-start mx-auto col-lg-4" > -->
    <div class="col-lg-4 cardForm">
  <div class="card-header flex-fill">
    <h6 class="mt-2">Category</h6>    
  </div>
  <div class="card-body">
    <form class="text-end" action="/posts/<%= p.id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn-close" aria-label="Close"></button>
      </form>
    <h3 class="card-title"><%= p.title %></h3>
    <p class="card-text lead"><%- p.details %></p>
    <a href="posts/<%= p.id %>" class="btn btn-outline-primary">View Full Post</a>
  </div>
   </div>
     </div>
</div>
    </ul>
    <% }) %>
      
      <!-- <script>
        $('.nav-item').class('active')
      </script> -->

<%- include('../partials/footer') %>