<%- include('../partials/header') %>
    
    <main id="main" role="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-lg-8 cardForm mt-3">
                    <h1 class="text-center mt-4"><%= title %></h1>
                    <!-- <p class="lead">
                        by
                        <a href="#">username</a>
                    </p> -->
           
                    <!-- <p>Date</p> -->
                    <!-- <hr> -->
                    <div class="text-end">
                    <a href="/posts/<%= post.id %>/edit"><button class="btn btn-secondary">Edit</button></a>
                    </div>
                    <p class="lead display-6 m-3"><%= post.title %></p>
                    <!-- <hr> -->
                    <div class="card mb-2">
                    <h5 class="card-header">Details:</h5>
                    <div class="card-body">
                    <p class="lead"><%= post.details %></p>
                    </div>
                    </div>
                    <!-- <div class="dropdown"> -->
                        <!-- <button class="lvC btn btn-secondary dropdown-toggle mb-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Leave a Comment
                        </button> -->
                        <% if (user) { %>
                        <div class="com card mb-3">
                            <h5 class="card-header">Leave a Comment:</h5>
                            <div class="card-body">
                                <form action="/posts/<%= post.id %>/comments" method="POST">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="comment"></textarea>
                                    </div>
                                    <button type="submit" class="sub btn btn-primary mt-2">Submit</button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                      <!-- </div> -->
                    
                    <% if (post.comments.length) { %>
                    <% post.comments.forEach(function(comment) { %>
                    <div class="card comment media mb-3">
                        <div class="profile-pic mr-3 bg-light useravatar">
                            <!-- <i class="fa fa-user fa-2x"></i> -->
                            <img alt="avatar" src="<%= comment.userAvatar %>">
                            <div class="username"><h5><%= comment.userName %></h5></div>
                            <div class="closeBtn float-end m-2">
                                <% if (user && user._id.equals(comment.user)) { %>
                                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn-close" aria-label="Close"></button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                        <div class="comment media-body m-3">
                            <p><%= comment.comment %></p>
                        </div>
                    </div>
                    <% }) %>
                <% } %>
                </div>


        <script>
            $('div.comment').last().fadeIn(4500)
            // $('.com').hide()
            $('.sub').on('click', function() {
                
            }) 
        </script>


<%- include('../partials/footer') %>